    {% include 'base.html'%}
    {% block content%}
<main class="container">       
        <table class="table table-striped">
           <h2 class="d-flex" >Assignments</h2>
          <thead>
            <th scope="col">Students</th>
            <th scope="col">Assignment Name</th>
            <th scope="col"> Due Date</th>
            <th scope="col">Status</th>
          </thead>
          <tbody>
            <tr>
              <td>Student</td>
              <td>Assignment Name</td>
              <td>Due Date</td>
              <td>submitted/not submitted</td>
            </tr>
            <tr>
              <td>Student</td>
              <td>Assignment Name</td>
              <td>Due Date</td>
              <td>submitted/not submitted</td>
            </tr>
            <tr>
              <td>Student</td>
              <td>Assignment Name</td>
              <td>Due Date</td>
              <td>submitted/not submitted</td>
            </tr>
            <tr>
              <td>Student</td>
              <td>Assignment Name</td>
              <td>Due Date</td>
              <td>submitted/not submitted</td>
            </tr>
          </tbody>
        </table>
    </main>
        {% endblock %}