{% extends "base.html"%}
{% block content %}
<main class="container">
    <!--Student NavBar--->

    <table class="table table-striped">
      <h1>{Student_id.firstname}'s Classes'</h1>
      <thead>
        <th scope="col">Course Name</th>
        <th scope="col">Course Number</th>
        <th scope="col"> Credits</th>
        <th scope="col"> Time</th>
      </thead>
      <tbody>
        <tr>
          <td>Student Name</td>
          <td>Assignments</td>
          <td>My Student's Courses</td>
          <td>Time</td>
          <td>Teacher Name</td>
        </tr>
      </tbody>
    </table>
    <!--     {% endblock %} -->
  </main>
{% endblock%}