{% extends "base.html"%}
{% block content%}
<main class="container">

        <!--Student NavBar--->
        
        <table class="table table-striped">
          <thead>
            <th scope="col">My Students</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </thead>
          <tbody>
            <tr>
              <td>Student Name</td>
               <td><a href="#">Assignments</a></td>
              <td><a href="#">My Student's Courses</a></td>
            </tr>
             <tr>
              <td>Student Name</td>
               <td><a href="#">Assignments</a></td>
               <td><a href="#">My Student's Courses</a></td>
            </tr>
            <tr>
              <td>Student Name</td>
               <td><a href="#">Assignments</a></td>
               <td><a href="#">My Student's Courses</a></td>
            </tr>
            <tr>
              <td>Student Name</td>
               <td><a href="#">Assignments</a></td>
               <td><a href="#">My Student's Courses</a></td>
            </tr>
          </tbody>
        </table>

      </main>
{% endblock %}