{% extends "base.html"%}
{% block content%}
<main class="fluid-container">
    <div>
      <p>{ClassName}  {CourseNumber} {Assignment.title} {Assignment.due.date}</p> 
      <hr>
      <textarea readonly autofocus rows="4" cols="20">
        {teacher's assignment, would be redirected from Teacher assignment}
      </textarea>
     <hr>
      <h3 style="padding-top:20px">Submissions below</h3>
     <textarea  rows="4" cols="20">
        {teacher's assignment, would be redirected from }
      </textarea> <br>
      <button>Submit</button>
     <hr>
    </div>
     
  </main>
{% endblock%}
